<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top ltt-navbar">
  <div class="container header-new">
    <div class="header-left navbar-header page-scroll">
      <ul class="nav navbar-nav">
        <li id="title" class="navbar-brand page-scroll">
          <%= link_to t(:title), root_url, class: "navbar-brand page-scroll ltt-title" %>
        </li>
        <li class="header-search">
          <%= form_tag searches_path, method: :get do %>
            <span>
              <%= text_field_tag :search, params[:search],
                placeholder: "写真の情報を入力してください", class: "form-control
                images-search", id: "images-search" %>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          <% end %>
          <span class="search-results">
            <ul class="results">
            </ul>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
