<section id="image_share" class="bg-light-gray">
  <div class="container ltt-wall">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><%= t :image_share %></h2>
        <h3 class="section-subheading text-muted"><%= t :most_image %></h3>
      </div>
    </div>
    <div class="row">
      <div id="news-feed-images" class="images-wall">
        <% @images.each do |image| %>
          <div class="col-md-6">
            <%= render "images/image", image: image %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
