@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#signupbox {
  padding-top: 10%;
}

#loginbox {
  padding-top: 10%;
}

#div_signin_signup {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  background-image: url("signin_signup.jpg");
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

._check_box {
  margin-left: 0px !important;
}

.btn-signup {
  padding-left: 0px;
  width: 100%;
}

#flash {
  position: fixed;
  margin-left: 64%;
  margin-top: 6%;
  left: 20px;
  z-index: 10000;
  padding: 10px;
  width: 30%;
  word-wrap: break-word;
}

.ltt-flash {
  display: inline-block;
}

.td-about-image img{
  border-radius: 100%;
}
.cpt{
  text-align: center;
  float: left;
  width: 50%;
}
.thumbnail{
  overflow: hidden;
}
li{
  list-type-style: none;
}
h1{
  text-align: center;
}

aside {
  section.user_info {
    margin-top: 20px;
    margin-bottom: 15px;
    a {
      color: #1E90FF;
      font-size: 18px;
      &:hover {
        background-color: white;
        text-decoration: none;
        color: #008686;
      }
    }

    strong {
      font-size: 18px;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 0px;
      margin-top: 5px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;

      a {
        color: #1E90FF;
        &:hover {
          background-color: white;
          text-decoration: none;
          color: #008686;
        }
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;

  a {
    color: green;
    font-size: 15px;
    &:hover {
      background-color: white;
      color: red;
    }
  }
}

.stats {
  overflow: auto;
  padding: 0;
  margin-top: 5px;
  a {
    float: left;
    padding: 0 10px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      background-color: white;
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;

    a {
      font-size: 18px;
      color: green;
      &:hover {
        background-color: white;
        color: #008686;
      }
    }
  }
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.edit_user {
  
  label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  btn {
    font-size: 20px;
    font-weight: bolder;
  }
}

.text-search {
  margin-left: -40px;
  margin-top: 40px;
  border: 0px;
  
  #search {
    border: 0px;
    margin: 0px;
    width: 320px;
    height: 30px !important;
    font-size: 1.5em;
  } 
}
  
.search-button {
  margin-left: -100px;
  margin-top: 40px;
  width: 35px;
  height: 30px;
  
  input {
    height: 30px !important;
    width: 35px;
    background-image: url("search_icon.png");
    background-size: 35px 30px;
    background-color: white;
    border: 0px;
  }
}

.header-new {
  .navbar-header {
    .navbar-brand {
      
    }
  }

  .navbar-collapse {
    ul {
     
    }
  }
}
