@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.show-address {
  text-align: center;
  font-size: 35px;
  line-height: 80px;
}

.show-info {
  font-size: 20px;
  line-height: 50px;
}

.btn-link {
  color: blue !important;
}

.img-responsive {
  height: 720px;
  width: 920px;
  margin: auto;
}

.show-like {
  font-size: 20px;
  line-height: 50px;
  float: left;
}

.show-category {
  font-size: 20px;
  line-height: 50px;
  float: left;
}

.show-parent-comment {
  .img-responsive {
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }

  .col-md-11 {
    font-size: 20px;
    margin-left: -10px;
    padding-left: 0px;
  }

  .col-md-1 {
    width: 80px;
  }
}

.show-image-comment {
  margin-top: 120px;

  .form-create-image {
    label {
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }

  .row {
    .col-md-4 {
      .thumbnail {
        img {
          width: 350px;
          height: 220px;
        }
      }
    }
  }

  .images-comment-icon {
    height: 25px;
    width: 25px;
  }
}

.image-comment-form {
  .img-avatar-comment {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin-right: 10px;
  }

  .comment-form-content {
    overflow: hidden;
  }

  .form-control {
    width: 80%;
  }
}

.container {
  .image-field {
    line-height: 35px;
    font-size: 20px;
    .lead {
      font-size: 24px;
    }
  }
}

.show-user-info {
  margin-top: 120px;
  margin-left: 50px !important;
  margin-right: 50px !important;
    /* forms */
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 25px;
  }

  input {
    height: auto !important;
  }

  .col-md-4 {
    .user_info {
      height: 80px;
    }
  }
}

.col-md-8 {

  .images {
    list-style: none;
    padding: 0;
    font-size: 20px;
    a {
      color: #1E90FF;
      &:hover {
        background-color: white;
        text-decoration: none;
        color: #008686;
      }
    }

    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
      margin-bottom: 10px;
    }
    .user {
      margin-top: 20px;
      padding-top: 0;
      margin-bottom: 10px;
    }
    .address {
      display: block;
      margin-left: 60px;
      margin-bottom: 10px;
      img {
        display: block;
        padding: 5px 0;
        width: 600px !important;
        height: 400px !important;
      }
    }
    .category {
      display: block;
      margin-left: 60px;
      margin-bottom: 10px;
    }
    .more {
      display: block;
      margin-left: 60px;
      margin-bottom: 10px;
    }
    .timestamp {
      color: $gray-light;
      font-size: 15px !important;
      display: block;
      margin-left: 60px;
      margin-bottom: 5px;

      a {
        font-weight: bolder;
        font-size: 20px;
      }
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
.images {
   .images-comments {
    cursor: pointer;
    margin-right: 10px;

    .images-comment-icon {
      height: 30px;
      width: 30px;
    }

    .image-comment-edit-form {
      display: none;

      .comment-edit-btn-cancel {
        color: #428bca;
      }
    }
  }

  .image-comment-form {
    display: block;

    .img-avatar-comment {
      height: 40px !important;
      width: 40px !important;
      float: left;
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-right: 10px;
    }

    .comment-form-content {
      overflow: hidden;
      width: 90%;
      height: 40px !important;
    }
  }
}

.ltt-wall {
  padding-top: 30px;
}

.popular-images {
  padding-top: 150px;
}

.images-wall {
  .image-show {
    margin-bottom: 30px;

  .image-show-img {
      height: 400px;
      width: 500px;
    }
  }
}
