.show-user-info {
  margin-top: 150px;
  margin-bottom: 50px;
}

.update-user-info {
  margin-top: 150px;
  margin-bottom: 50px;
}

.image-user-profile {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}
